#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0 auto;
  display: block;
  place-items: center;
  min-width: none;
  min-height: none;
  max-width: none;
}

.file-explorer {
    height: 90vh !important;
}